body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    cursor: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#coronaCanvas {
    z-index: 1;
    pointer-events: none;
}

#sunCanvas {
    z-index: 3;
    pointer-events: none;
}

#gameCanvas {
    z-index: 5;
}

.sun-blur {
    position: fixed;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.01);
    pointer-events: none;
}

.sun-blur-disk {
    left: 50%;
    top: 50%;
    width: 180px;
    height: 180px;
    margin-left: -90px;
    margin-top: -90px;
    z-index: 4;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.sun-blur-corona {
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    z-index: 2;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
